* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: black; }

.grid-container {
  display: grid;
  grid-template-rows: 35px 75px auto 50px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "header header header header" "nav nav nav nav" "main main main main" "footer footer footer footer"; }

.encabezado {
  grid-area: header;
  background: #004173; }
  .encabezado ul {
    display: flex;
    align-items: center;
    height: 100%;
    width: 40%;
    list-style: none;
    padding-left: 1%; }
    .encabezado ul li {
      display: flex;
      align-content: center;
      justify-content: center;
      align-items: center;
      padding-left: 1%;
      color: white;
      text-transform: capitalize; }
      .encabezado ul li a {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        padding-left: 3px; }
        .encabezado ul li a img {
          padding-right: 3px;
          height: 25px;
          display: flex;
          align-items: center;
          justify-content: center; }

.navegador {
  grid-area: nav;
  height: 100%;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1000;
  background: #004173;
  background: linear-gradient(90deg, #0cb7f2 0%, #7cdaf9 50%, #b6ffff 100%); }

.mid-nav {
  height: 75px;
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto; }
  .mid-nav section {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center; }
    .mid-nav section img {
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: right; }
  .mid-nav div {
    width: 80%;
    height: 100%; }
    .mid-nav div ul {
      height: 100%;
      width: 75%;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .mid-nav div ul li a {
        text-align: center;
        text-transform: capitalize; }

.pie {
  grid-area: footer;
  display: flex;
  align-items: center;
  padding: 1%;
  background: #004173; }
  .pie p {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center; }
  .pie ul {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 50px; }
    .pie ul li {
      list-style: none;
      padding-left: 50px; }

.principal {
  grid-area: main; }

.tamano-section {
  height: 400px; }

.carusel {
  height: 820px;
  background: white; }
  .carusel img {
    height: 820px;
    width: 100%;
    object-fit: cover; }

.carousel-caption {
  top: 30%; }
  .carousel-caption h2 {
    text-transform: uppercase;
    font-size: 140px;
    text-shadow: 1px 1px 2px black; }

.imagen-fija {
  background: url("/img/Club-de-Playa-scaled.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; }
  .imagen-fija h1,
  .imagen-fija p {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center; }
  .imagen-fija h1 {
    height: 30%;
    font-size: 72px;
    letter-spacing: 10px;
    text-transform: uppercase; }
  .imagen-fija p {
    height: 70%;
    width: 50%;
    margin: 0 auto;
    padding: 2%;
    text-align: justify; }

.seccion-segunda {
  margin-top: 16px;
  display: flex;
  align-items: center;
  width: 100%; }
  .seccion-segunda p {
    height: 100%;
    width: 50%;
    text-align: justify;
    display: flex;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px; }

.clearity {
  background: #b6ffff; }

.oscurity {
  background: #7cdaf9; }

.grilla-container {
  width: 100%;
  background: url("../img/Club-de-Playa-scaled.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; }

.grilla {
  height: auto;
  margin: 0 auto;
  width: 90%;
  padding: 1%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 400px;
  gap: 10px;
  justify-content: center;
  align-items: center; }

.grilla-element {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  height: 350px;
  width: 300px;
  border: 5px solid;
  border-image: linear-gradient(90deg, #004173, #b6ffff) 1;
  background: rgba(182, 255, 255, 0.55);
  text-shadow: 1px 1px 1px rgba(32, 32, 32, 0.3); }
  .grilla-element h2 {
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    text-align: center;
    font-size: 30px; }
  .grilla-element div {
    height: 60%;
    width: 100%; }
    .grilla-element div p {
      padding-left: 10px;
      padding-right: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-transform: capitalize;
      text-align: justify; }
    .grilla-element div ul {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      list-style: none; }
      .grilla-element div ul li {
        height: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: capitalize; }
