* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: black; }

.grid-container {
  display: grid;
  grid-template-rows: 40px 100px auto 75px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "header header header header" "aside nav nav nav" "main main main main" "footer footer footer footer"; }

.encabezado {
  grid-area: header;
  background: red;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%; }
  .encabezado ul {
    width: 50%;
    display: flex;
    list-style: none;
    padding-left: 1%; }
    .encabezado ul li {
      width: fit-content;
      text-decoration: none;
      padding-right: 2%; }

.logo {
  grid-area: aside;
  background: purple;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%; }

.navegador {
  grid-area: nav;
  background: green;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%; }
  .navegador ul {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around; }
    .navegador ul li {
      width: max-content; }

.pie {
  grid-area: footer;
  background: orange;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 80%;
  padding: 1%;
  align-items: center; }
  .pie p {
    width: 75%; }
  .pie ul {
    width: 25%;
    display: flex;
    list-style: none;
    justify-content: space-around; }

.principal {
  grid-area: main;
  background: blue; }

.carusel {
  height: 500px;
  width: 100%; }
