.pie{
    grid-area: footer;
    @include flex(flex, center, center);
    padding: 1%;
    background: nth($paleta, 1);
    div{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        font-size: nth($font, 5);
    }
}