.pie{
    grid-area: footer;
    display: flex;
    align-items: center;
    align-content: center;
    padding: 1%;
    background: nth($paleta, 1);
    div{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
}