.encabezado{
    grid-area: header;
    background: nth($paleta, 1);
    ul{
        display: flex;
        align-items: center;
        height: 100%;
        width: 40%;
        list-style: none;
        padding-left: 1%;
        li{
            display: flex;
            align-content: center;
            justify-content: center;
            align-items: center;
            padding-left: 1%;
            color: nth($paleta, 6);
            text-transform: capitalize;
            a{
                display: flex;
                justify-content: center;
                align-items: center;
                text-decoration: none;
                padding-left: 3px;
                img{
                    padding-right: 3px;
                    height: 25px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }
}