.encabezado{
    grid-area: header;
    background: nth($paleta, 1);
    ul{
        @include tamano(100%, 40%);
        @include flex(flex, center, left);
        list-style: none;
        padding-left: 1%;
        li{
            @include flex(flex, center, center);
            padding-left: 1%;
            color: nth($paleta, 6);
            font-size: nth($font, 4);
            text-transform: capitalize;
            a{
                @include flex(flex, center, center);
                text-decoration: none;
                padding-left: 3px;
                img{
                    padding-right: 3px;
                    height: 25px;
                    @include flex(flex, center, center);
                }
            }
        }
    }
}