.principal {
	grid-area: main;
}

.carusel {
	height: 820px;
	width: 100%;
	@include tamano(820px, 100%);
	background: nth($paleta, 6);
	transition: 0.5s;
	img {
		height: 820px;
		width: 100%;
		@include tamano(820px, 100%);
		object-fit: cover;
	}
}

.carousel-caption {
	top: 30%;
	h2 {
		text-transform: uppercase;
		font-size: nth($font, 13);
		text-shadow: 1px 1px 2px black;
	}
}

.carusel-box {
	border: 10px solid white;
}

.novedades {
	height: 900px;
	padding-top: 75px;
	background: nth($paleta, 3);
	h2,
	h3 {
		@include tamano(10%, 100%);
		@include flex(flex, center, center);
	}
	h2 {
		text-transform: uppercase;
		font-size: nth($font, 11);
	}
	h3 {
		text-transform: uppercase;
		font-size: nth($font, 7);
	}
}
.novedades-container {
	margin: 0 auto;
	@include tamano(80%, 90%);
	padding: 1%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: 230px;
	gap: 50px;
	justify-content: center;
	align-items: center;
}

.novedades-item {
	background: nth($paleta, 5);
	@include tamano(100%, 100%);
	display: flex;
	align-items: center;
	a {
		@include flex(flex, center, center);
		@include tamano(100%, 100%);
		text-decoration: none;
		div {
			@include tamano(100%, 60%);
			display: flex;
			flex-direction: column;
			h4 {
				padding-top: 5%;
				@include tamano(20%, 100%);
				@include flex(flex, center, center);
				text-transform: capitalize;
				font-size: nth($font, 5);
			}
			p {
				@include tamano(80%, 100%);
				padding: 3%;
				text-align: justify;
				font-size: nth($font, 3);
				overflow: hidden;
			}
		}
		img {
			aspect-ratio: 1/1;
			@include tamano(180px, 40%);
			padding-left: 1%;
			padding-right: 1%;
		}
	}
}

.imagen-fija {
	background: url("/img/Club-de-Playa-scaled.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: auto;
	h2,
	p {
		color: nth($paleta, 6);
		@include flex(flex, center, center);
	}
	h2 {
		height: 200px;
		font-size: nth($font, 12);
		letter-spacing: 10px;
		text-transform: uppercase;
	}
	p {
		@include tamano(250px, 70%);
		margin: 0 auto;
		text-align: justify;
		font-size: nth($font, 4);
	}
}

.grilla-container {
	padding-top: 75px;
	width: 100%;
	background: url("../img/Club-de-Playa-scaled.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.grilla {
	height: auto;
	margin: 0 auto;
	@include tamano(1000px, 90%);
	padding: 1%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-auto-rows: 400px;
	gap: 50px;
	justify-content: center;
	align-items: center;
}

.grilla-element {
	transition: 1s;
	@include flex(flex, center, center);
	margin: 0 auto;
	flex-direction: column;
	@include tamano(425px, 300px);
	border: 5px solid;
	border-image: linear-gradient(90deg, nth($paleta, 1), nth($paleta, 5)) 1;
	background: rgba(nth($paleta, 5), 0.55);
	text-shadow: 1px 1px 1px rgba(32, 32, 32, 0.3);
	h2 {
		@include tamano(30%, 100%);
		@include flex(flex, center, center);
		text-transform: uppercase;
		text-align: center;
		font-size: nth($font, 8);
	}
	div {
		@include tamano(70%, 100%);
		p {
			padding-left: 20px;
			padding-right: 20px;
			@include flex(flex, center, center);
			text-transform: capitalize;
			text-align: justify;
			font-size: nth($font, 4);
		}
		ul {
			@include flex(flex, center, center);
			flex-direction: column;
			list-style: none;
			@include tamano(100%, 100%);
			padding: 0;
			font-size: nth($font, 4);
			a {
				height: 30%;
				display: flex;
				align-items: top;
				li {
					@include flex(flex, center, center);
					text-transform: capitalize;
				}
			}
		}
	}
	&:hover {
		transform: scale(1.1);
		background: rgba(nth($paleta, 5), 0.6);
		h2,
		li,
		p {
			color: nth($paleta, 2);
		}
	}
	div {
		ul {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			list-style: none;
			@include tamano(100%, 100%);
			padding: 0;
			li {
				padding-left: 20px;
				padding-right: 20px;
				height: 30%;
				@include flex(flex, center, top);
				text-transform: capitalize;
				text-align: center;
			}
		}
	}
}

.clearity {
	background: nth($paleta, 5);
}
.oscurity {
	background: nth($paleta, 4);
}

.seccion-historia {
	margin-top: 16px;
	@include flex(flex, center, center);
	@include tamano(1300px, 100%);
	h2 {
		text-transform: uppercase;
		letter-spacing: 5px;
		font-size: nth($font, 12);
	}
	h3 {
		text-align: center;
		align-items: center;
		padding-top: 5px;
		padding-bottom: 5px;
		font-size: nth($font, 9);
	}
	div {
		padding-top: 75px;
		@include tamano(100%, 50%);
		text-align: justify;
		@include flex(flex, center, center);
		flex-direction: column;
		padding-left: 50px;
		padding-right: 50px;
	}
	p{
		font-size: nth($font, 5);
	}
	ul{
		li{
			font-size: nth($font, 5);
		}
	}
}


@keyframes bounce {
	0%,
	20%,
	50%,
	80%,
	100% {
		transform: translateY(0);
	}
	40% {
		transform: translateY(-20px);
	}
	60% {
		transform: translateY(-10px);
	}
}

.whatsapp {
	position: fixed;
	bottom: 25px;
	right: 0px;
	transform: translate(-50%, -50%);
	img {
		@include tamano(50px, 50px);
		transition: transform 0.3s ease;
	}
	&:hover {
		img {
			animation: bounce 0.6s ease 1;
			transform: scale(1.1);
		}
	}
}

