.principal {
	grid-area: main;
	margin: 0 auto;
}
.titulos-secciones {
	margin: 20px;
	@include font(nth($font-size, 10), center, none, uppercase);
	text-decoration: underline;
	@include flex(flex, center, center);
}
.tarjetas {
	margin: 0 auto;
	@include size(auto, 100%);
	@include flex(flex, center, center);
	flex-wrap: wrap;
}
.tarjetas-item {
	background: nth($colores, 7);
	margin: 2%;
	border: 1px groove black;
	-webkit-box-shadow: 0px 15px 24px -14px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 15px 24px -14px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 15px 24px -14px rgba(0, 0, 0, 0.5);
	box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
	@include size(400px, 400px);
	@include flex(flex, center, center);
	flex-direction: column;
	img {
		@include size(85%, 100%);
		aspect-ratio: 1/1;
		object-position: center;
	}
	h2 {
		@include font(nth($font-size, 8), center, none, uppercase);
		height: 8%;
	}
	h3 {
		@include font(nth($font-size, 6), center, none, capitalize);
		height: 7%;
	}
	&:hover {
		@include size(410px, 410px);
		box-shadow: rgba(0, 0, 0, 0.301) 0px -50px 36px -28px inset;
	}
}
.bosque {
	margin-top: 100px;
	margin-bottom: 100px;
	color: nth($colores, 7);	
	@include size(700px, 100%);
	background: url("/img/bosque1.jpg");
	background-position: center;
	h2{
		margin: 0 auto;
		background: rgba(0, 0, 0, 0.438);
		@include size(10%, 100%);
	}
	p{
		margin: 50px auto;
		padding: 1%;
		@include size(auto, 75%);
		@include font(nth($font-size, 7), justify, none, none);
		line-height: 50px;
		background: rgba(0, 0, 0, 0.438);
	}
}