.navegador {
    grid-area: nav;
    @include tamano(100%, 100%);

    position: sticky;
    top: 0;
    z-index: 1000;
    background: rgb(0,65,115);
    background: linear-gradient(90deg, rgba(12,183,242,1) 0%, rgba(124,218,249,1) 50%, rgba(182,255,255,1) 100%);
}

@keyframes flip {
    0% {
        transform: perspective(400px) rotateY(0);
        animation-timing-function: ease-out;
    }
    40% {
        transform: perspective(400px) translateZ(150px) rotateY(170deg);
        animation-timing-function: ease-out;
    }
    50% {
        transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
        animation-timing-function: ease-in;
    }
    80% {
        transform: perspective(400px) rotateY(360deg) scale(.95);
        animation-timing-function: ease-in;
    }
    100% {
        transform: perspective(400px) scale(1);
        animation-timing-function: ease-in;
    }
} 


.mid-nav{
    @include tamano(75%, 75%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    section{
        @include tamano(100%, 20%);
        display: flex;
        justify-content: right;
        align-items: center;
        img{
            height: 70px;
            display: flex;
            align-items: center;
            justify-content: right;
            transition: transform 0.3s ease;
        }
        &:hover{
            img{
                animation: flip 0.6s ease 1;
            }
        }
    }
    div{
        @include tamano(100%, 80%);
        ul{
            @include tamano(100%, 75%);
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
            li{
                a{
                    text-align: center;
                    text-transform: capitalize;
                    font-size: nth($font, 6);
                }
                &:hover{
                    font-size: larger;
                }
            }
        }
    }
}