@keyframes tamaño {
    to{
        height: calc(var(--var) - 25px );
    }
}

.navegador {
    animation: tamaño auto linear forwards;
    animation-timeline: scroll(root block);
    grid-area: nav;
    @include tamano(100%, 100%);
    position: sticky;
    top: 0;
    z-index: 1000;
    background: rgb(0,65,115);
    background: linear-gradient(90deg, rgba(12,183,242,1) 0%, rgba(124,218,249,1) 50%, rgba(182,255,255,1) 100%);
}

@keyframes flip {
    0% {
        transform: perspective(400px) rotateY(0);
        animation-timing-function: ease-out;
    }
    40% {
        transform: perspective(400px) translateZ(150px) rotateY(170deg);
        animation-timing-function: ease-out;
    }
    50% {
        transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
        animation-timing-function: ease-in;
    }
    80% {
        transform: perspective(400px) rotateY(360deg) scale(.95);
        animation-timing-function: ease-in;
    }
    100% {
        transform: perspective(400px) scale(1);
        animation-timing-function: ease-in;
    }
} 

.mid-nav{
    @include tamano(75%, 75%);
    @include flex(flex, center, center);
    margin: 0 auto;
        img{
            height: 70px;
            @include flex(flex, center, left);
            transition: transform 0.3s ease;
        }
        &:hover{
            img{
                animation: flip 0.6s ease 1;
            }
        }
    div{
        @include tamano(100%, 80%);
        ul{
            @include tamano(100%, 75%);
            margin: 0 auto;
            @include flex(flex, center, space-between);
            li{
                a{
                    text-align: center;
                    text-transform: capitalize;
                    font-size: nth($font, 6);                
                    &:hover{
                        font-size: nth($font, 7);
                    }
                }

            }
        }
    }
}