*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	color: black;
	font-family:Verdana, Geneva, Tahoma, sans-serif;
}

$paleta: #004173, #0979b0, #0cb7f2, #7cdaf9, #b6ffff, white, black, rgb(202, 202, 202);

.grid-container{
	display: grid;
	grid-template-rows: 35px 75px auto 50px  ;
	grid-template-columns: repeat(4, 1fr);
	grid-template-areas:
	"header header header header"
	"nav nav nav nav"
	"main main main main"
	"footer footer footer footer"
	;
}