*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	color: black;
}

.grid-container{
	display: grid;
	grid-template-rows: 40px 100px auto 75px  ;
	grid-template-columns: repeat(4, 1fr);
	grid-template-areas:
	"header header header header"
	"aside nav nav nav"
	"main main main main"
	"footer footer footer footer"
	;
}