@media (max-width: 1300px) {
	.mid-nav {
		@include tamano(75%, 75%);
		@include flex(flex, center, center);
		section {
			@include tamano(100%, 20%);
			@include flex(flex, center, left);
			img {
				height: 50px;
				@include flex(flex, center, left);
				transition: transform 0.3s ease;
			}
			&:hover {
				img {
					animation: flip 0.6s ease 1;
				}
			}
		}
		div {
			@include tamano(100%, 80%);
			ul {
				@include tamano(100%, 75%);
				margin: 0 auto;
				@include flex(flex, center, space-between);
				li {
					a {
						text-align: center;
						text-transform: capitalize;
						font-size: nth($font, 6);
						&:hover {
							font-size: nth($font, 7);
						}
					}
				}
			}
		}
	}
	.carousel-control-prev, .carousel-control-next{
		top: 135px;
		height: 800px;
	}
	.carusel {
		@include tamano(800px, 100%);
		img {
			@include tamano(800px, 100%);
		}
	}
	.carousel-caption {
		h1 {
			font-size: nth($font, 12);
		}
	}
	.novedades {
		height: 750px;
		h2 {
			font-size: nth($font, 10);
		}
		h3 {
			font-size: nth($font, 6);
		}
	}
	.novedades-container {
		grid-template-rows: 200px;
		gap: 40px;
	}
	.novedades-item {
		a {
			div {
				h4 {
					font-size: nth($font, 4);
				}
				p {
					font-size: nth($font, 2);
				}
			}
			img {
				aspect-ratio: 1/1;
				@include tamano(150px, 40%);
			}
		}
	}
	.imagen-fija {
		h2 {
			height: 100px;
			font-size: nth($font, 11);
		}
		p {
			@include tamano(400px, 70%);
			font-size: nth($font, 4);
		}
	}
	.grilla {
		height: auto;
		margin: 0 auto;
		@include tamano(1400px, 90%);
		grid-template-columns: repeat(3, 1fr);
		grid-auto-rows: 400px;
		gap: 50px;
	}
	.grilla-element {
		@include tamano(425px, 300px);
		h2 {
			font-size: nth($font, 8);
		}
		div {
			@include tamano(70%, 100%);
			p {
				font-size: nth($font, 4);
			}
			ul {
				font-size: nth($font, 4);
			}
		}
	}
	.seccion-historia {
		@include tamano(1500px, 100%);
		h2 {
			font-size: nth($font, 11);
		}
		h3 {
			font-size: nth($font, 8);
		}
		p {
			font-size: nth($font, 4);
		}
	}
	.pie {
		div {
			font-size: nth($font, 4);
		}
	}
}

@media (max-width: 1100px) {
	.encabezado {
		ul {
			@include tamano(100%, 50%);
			li {
				font-size: nth($font, 3);
				a {
					img {
						height: 20px;
					}
				}
			}
		}
	}
	.mid-nav {
		section {
			@include tamano(100%, 20%);
		}
		div {
			ul {
				li {
					a {
						font-size: nth($font, 5);
						&:hover {
							font-size: nth($font, 6);
						}
					}
				}
			}
		}
	}
	.carousel-control-prev, .carousel-control-next{
		top: 135px;
		height: 750px;
	}
	.carusel {
		@include tamano(750px, 100%);
		img {
			@include tamano(750px, 100%);
		}
	}
	.carousel-caption {
		h1 {
			font-size: nth($font, 12);
		}
	}
	.novedades {
		height: 1100px;
		h2 {
			font-size: nth($font, 10);
		}
		h3 {
			margin: 0 auto;
			text-align: center;
			width: 80%;
			font-size: nth($font, 6);
		}
	}
	.novedades-container {
		grid-template-columns: repeat(2, 1fr);
		grid-auto-rows: 230px;
		gap: 40px;
	}
	.novedades-item {
		a {
			div {
				h4 {
					font-size: nth($font, 4);
				}
				p {
					font-size: nth($font, 2);
				}
			}
			img {
				aspect-ratio: 1/1;
				@include tamano(150px, 40%);
			}
		}
	}
	.imagen-fija {
		h2 {
			height: 100px;
			font-size: nth($font, 11);
		}
		p {
			@include tamano(450px, 70%);
			font-size: nth($font, 4);
		}
	}
	.grilla {
		@include tamano(1900px, 90%);
		grid-template-columns: repeat(2, 1fr);
		grid-auto-rows: 400px;
		gap: 50px;
	}
	.grilla-element {
		@include tamano(425px, 300px);
		h2 {
			font-size: nth($font, 8);
		}
		div {
			@include tamano(70%, 100%);
			p {
				font-size: nth($font, 4);
			}
			ul {
				font-size: nth($font, 4);
			}
		}
	}
	.seccion-historia {
		@include tamano(1430px, 100%);
		h2 {
			font-size: nth($font, 10);
		}
		h3 {
			font-size: nth($font, 7);
		}
		p {
			font-size: nth($font, 3);
		}
	}
	.pie {
		div {
			font-size: nth($font, 4);
		}
	}
}

@media (max-width: 1000px) {
	.carousel-control-prev, .carousel-control-next{
		top: 155px;
		height: 750px;
	}
	.seccion-historia {
		@include tamano(1900px, 100%);
		h2 {
			font-size: nth($font, 9);
		}
		h3 {
			font-size: nth($font, 5);
		}
		p {
			font-size: nth($font, 4);
		}
		ul {
			li {
				font-size: nth($font, 4);
			}
		}
	}
}

@media (max-width: 992px) {
	.mid-nav {
		padding: 0;
		margin: 15px;
		@include flex(flex, center, start);
		img {
			height: 60px;
		}
	}
}

@media (max-width: 950px) {
	.mid-nav {
		section {
			@include tamano(100%, 20%);
		}
		div {
			ul {
				li {
					a {
						font-size: nth($font, 5);
						&:hover {
							font-size: nth($font, 6);
						}
					}
				}
			}
		}
	}
	.seccion-historia {
		@include tamano(2000px, 100%);
		h2 {
			font-size: nth($font, 9);
		}
		h3 {
			font-size: nth($font, 5);
		}
		p {
			font-size: nth($font, 4);
		}
		ul {
			li {
				font-size: nth($font, 4);
			}
		}
	}
}

@media (max-width: 900px) {
	.mid-nav {
		section {
			@include tamano(100%, 20%);
		}
		div {
			ul {
				li {
					a {
						font-size: nth($font, 5);
						&:hover {
							font-size: nth($font, 6);
						}
					}
				}
			}
		}
	}
	.seccion-historia {
		@include tamano(2000px, 100%);
		h2 {
			font-size: nth($font, 9);
		}
		h3 {
			font-size: nth($font, 5);
		}
		p {
			font-size: nth($font, 4);
		}
		ul {
			li {
				font-size: nth($font, 4);
			}
		}
	}
}

@media (max-width: 780px) {
	.oculto {
		text-indent: -9999px;
		display: block;
	}
	.encabezado {
		ul {
			@include tamano(100%, 50%);
			li {
				font-size: nth($font, 3);
				a {
					img {
						height: 20px;
					}
				}
			}
		}
	}
	.imagen-fija {
		h2 {
			height: 100px;
			font-size: nth($font, 12);
		}
		p {
			@include tamano(500px, 75%);
		}
	}
	.seccion-historia {
		@include tamano(auto, 100%);
		display: grid;
		grid-template-columns: 1;
		div {
			@include tamano(auto, 100%);
		}
	}
	.carousel-control-prev, .carousel-control-next{
		top: 150px;
		height: 700px;
	}
	.carusel {
		@include tamano(700px, 100%);
		background: nth($paleta, 6);
		img {
			@include tamano(700px, 100%);
		}
	}
	.carusel-box {
		border: 2px solid white;
	}
	.novedades {
		height: 2200px;
		h2 {
			height: 100px;
			font-size: nth($font, 10);
		}
		h3 {
			height: 100px;
			font-size: nth($font, 6);
		}
	}
	.novedades-container {
		height: 1900px;
		grid-template-columns: repeat(1, 1fr);
		grid-auto-rows: 250px;
		gap: 30px;
	}
	.novedades-item {
		a {
			height: 250px;
			div {
				height: 100%;
				h4 {
					font-size: nth($font, 5);
				}
				p {
					font-size: nth($font, 4);
				}
			}
			img {
				aspect-ratio: 1/1;
				@include tamano(230px, 40%);
			}
		}
	}
	.imagen-fija {
		h2 {
			height: 100px;
			font-size: nth($font, 10);
		}
		p {
			@include tamano(700px, 80%);
			font-size: nth($font, 5);
		}
	}
	.grilla {
		@include tamano(3700px, 90%);
		grid-template-columns: repeat(1, 1fr);
		grid-auto-rows: 400px;
		gap: 50px;
	}
	.grilla-element {
		@include tamano(375px, 500px);
		div {
			@include tamano(80%, 100%);
			p {
				font-size: nth($font, 5);
			}
			ul {
				font-size: nth($font, 5);
			}
		}
	}
	.pie {
		div {
			font-size: nth($font, 4);
		}
	}
	.whatsapp {
		bottom: 5px;
		transform: translate(-50%, -50%);
		img {
			@include tamano(40px, 40px);
		}
	}
}

@media (max-width: 615px) {
	.mid-nav {
		img {
			height: 50px;
		}
	}
	.carousel-control-prev, .carousel-control-next{
		top: 150px;
		height: 490px;
	}
	.carusel {
		@include tamano(500px, 100%);
		img {
			@include tamano(500px, 100%);
		}
	}
	.carousel-caption {
		top: 30%;
		h1 {
			font-size: nth($font, 5);
		}
	}
	.novedades {
		height: 1700px;
		h2 {
			height: 80px;
			font-size: nth($font, 10);
		}
		h3 {
			height: 80px;
			font-size: nth($font, 4);
		}
	}
	.novedades-container {
		grid-template-columns: repeat(1, 1fr);
		grid-auto-rows: 220px;
		gap: 20px;
	}
	.novedades-item {
		a {
			height: 220px;
			div {
				h4 {
					font-size: nth($font, 4);
				}
				p {
					font-size: nth($font, 3);
				}
			}
			img {
				@include tamano(190px, 40%);
			}
		}
	}
	.imagen-fija {
		h2 {
			height: 100px;
			font-size: nth($font, 10);
		}
		p {
			@include tamano(450px, 80%);
			font-size: nth($font, 3);
		}
	}
	.grilla {
		@include tamano(3600px, 90%);
	}
	.grilla {
		height: 3400px;
		gap: 20px;
	}
	.grilla-element {
		@include tamano(350px, 400px);
		div {
			@include tamano(80%, 100%);
			p {
				font-size: nth($font, 4);
			}
			ul {
				font-size: nth($font, 3);
			}
		}
	}
	.seccion-historia {
		h2 {
			font-size: nth($font, 9);
		}
		h3 {
			font-size: nth($font, 7);
		}
		p {
			font-size: nth($font, 4);
		}
		ul {
			li {
				font-size: nth($font, 4);
			}
		}
	}
	.pie {
		div {
			font-size: nth($font, 4);
		}
	}
	.whatsapp {
		bottom: 5px;
		transform: translate(-50%, -50%);
		img {
			@include tamano(40px, 40px);
		}
	}
}

@media (max-width: 500px) {
	.mid-nav {
		img {
			height: 50px;
		}
	}
	.carousel-control-prev, .carousel-control-next{
		top: 150px;
		height: 440px;
	}
	.carusel {
		@include tamano(450px, 100%);
		img {
			@include tamano(450px, 100%);
		}
	}
	.carousel-caption {
		top: 30%;
		h2 {
			font-size: nth($font, 5);
		}
	}
	.novedades {
		height: 1700px;
		h2 {
			height: 80px;
			font-size: nth($font, 10);
		}
		h3 {
			height: 80px;
			font-size: nth($font, 4);
		}
	}
	.novedades-container {
		grid-template-columns: repeat(1, 1fr);
		grid-auto-rows: 220px;
		gap: 20px;
	}
	.novedades-item {
		a {
			height: 220px;
			div {
				h4 {
					font-size: nth($font, 4);
				}
				p {
					font-size: nth($font, 3);
				}
			}
			img {
				@include tamano(190px, 40%);
			}
		}
	}
	.imagen-fija {
		h2 {
			height: 100px;
			font-size: nth($font, 10);
		}
		p {
			@include tamano(600px, 80%);
			font-size: nth($font, 3);
		}
	}
	.grilla {
		@include tamano(3600px, 90%);
	}
	.grilla {
		height: 3400px;
		gap: 20px;
	}
	.grilla-element {
		@include tamano(350px, 400px);
		div {
			@include tamano(80%, 100%);
			p {
				font-size: nth($font, 4);
			}
			ul {
				font-size: nth($font, 3);
			}
		}
	}
	.seccion-historia {
		h2 {
			font-size: nth($font, 9);
		}
		h3 {
			font-size: nth($font, 7);
		}
		p {
			font-size: nth($font, 4);
		}
		ul {
			li {
				font-size: nth($font, 4);
			}
		}
	}
	.pie {
		div {
			font-size: nth($font, 4);
		}
	}
	.whatsapp {
		bottom: 5px;
		transform: translate(-50%, -50%);
		img {
			@include tamano(40px, 40px);
		}
	}
}

@media (max-width: 450px) {
	.mid-nav {
		img {
			height: 50px;
		}
	}
	.carusel {
		@include tamano(450px, 100%);
		img {
			@include tamano(450px, 100%);
		}
	}
	.carousel-caption {
		top: 30%;
		h2 {
			font-size: nth($font, 3);
		}
	}
	.novedades {
		height: 1900px;
		h2 {
			height: 80px;
			font-size: nth($font, 9);
		}
		h3 {
			height: 80px;
			font-size: nth($font, 3);
		}
	}
	.novedades-container {
		grid-template-columns: repeat(1, 1fr);
		grid-auto-rows: 250px;
		gap: auto;
	}
	.novedades-item {
		a {
			height: 250px;
			div {
				h4 {
					font-size: nth($font, 4);
				}
				p {
					font-size: nth($font, 3);
				}
			}
			img {
				@include tamano(190px, 40%);
			}
		}
	}
	.imagen-fija {
		h2 {
			height: 150px;
			font-size: nth($font, 10);
		}
		p {
			@include tamano(700px, 80%);
			font-size: nth($font, 3);
		}
	}
	.grilla {
		@include tamano(3600px, 90%);
	}
	.grilla {
		height: 3400px;
		gap: 10px;
	}
	.grilla-element {
		@include tamano(300px, 310px);
		div {
			@include tamano(80%, 100%);
			h2{
				font-size: nth($font, 2);
			}
			p {
				font-size: nth($font, 3);
			}
			ul {
				font-size: nth($font, 2);
			}
		}
	}
	.seccion-historia {
		h2 {
			font-size: nth($font, 9);
		}
		h3 {
			font-size: nth($font, 7);
		}
		p {
			font-size: nth($font, 4);
		}
		ul {
			li {
				font-size: nth($font, 4);
			}
		}
	}
	.pie {
		div {
			font-size: nth($font, 4);
		}
	}
	.whatsapp {
		bottom: 5px;
		transform: translate(-50%, -50%);
		img {
			@include tamano(40px, 40px);
		}
	}
}
